registry=https://pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/registry/:username=HexagonMinAustralia
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/registry/:_password=MzdvYnFxaHpmajNzNWt2eGRrdWplbG16NnlnNmxnb3BuN3BscGdldGI2Z2JrbjNsdnNrcQ==
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/:username=HexagonMinAustralia
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/:_password=MzdvYnFxaHpmajNzNWt2eGRrdWplbG16NnlnNmxnb3BuN3BscGdldGI2Z2JrbjNsdnNrcQ==
//pkgs.dev.azure.com/HexagonMinAustralia/_packaging/AtomixFeed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
